RewriteEngine On

# personalizar errores de navegador
ErrorDocument 404 /error.php
ErrorDocument 403 /error.php

# los archivos .aspx me los leerá como .php
AddType application/x-httpd-php .aspx


# esto es con una variable
#RewriteRule ^.*n([0-9]+)\.html$ entrada.php?id_noticia=$1 [L]
#RewriteRule ^.*n([0-9]+)\/$ entrada.php?id_noticia=$1 [L]


# este es con 2 variables
RewriteRule ^.*-n([0-9]+)/*-c([a-z]+)\.html$ entrada.php?id_noticia=$1&id_categoria=$2 [L]
#RewriteRule ^.*-n([0-9]+)/*-c([a-z]+)\/$ entrada.php?id_noticia=$1&id_categoria=$2 [L]

